@mixin button-styles($color, $background-color, $hover-bg, $active-bg) {
  color: $color;
  background-color: $background-color;
  border: 2px solid #cecece;
  padding: 0.35rem 1rem 0.25rem 1rem;
  font-size: 1rem;
  &:hover {
    background-color: $hover-bg;
  }
  &:active {
    background-color: $active-bg;
  }
  &:focus {
    @include focus-styles();
  }
}

@mixin focus-styles() {
  outline: none;
  border: black solid 2px;
}
$color_1: #000;
$color_2: #fff;
$font-family_1: Helvetica, Arial, sans-serif;
$background-color_1: #fff;
$background-color_2: #ecf2fd;
$background-color_3: #d1e0fe;
$background-color_4: #000;
$background-color_5: #444242;
$background-color_6: #d7ecff;
$background-color_7: #212020;

body {
  font-family: $font-family_1;
}

.btn-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.btn {
  @include button-styles($color_1, $background-color_1, $background-color_2, $background-color_3);
}

.btn-primary {
  @include button-styles($color_2, $background-color_4, $background-color_5, $background-color_7);
  width: 100%;
  padding: 0.75rem;
  font-size: 1.3rem;
  border: black solid 2px;
  margin: 1rem 0;
  &:focus {
    color: $color_1;
    border: #000 solid 2px;
    background-color: $background-color_6;
  }
}
